<section id="my-posts">
    <h1>My post.</h1>
    {{#each posts}}
    <div class="my-container">
        <!-- If there are own posts for wildlife in the database display each of them -->
        <div class="my-card">
            <div class="card-header">
            <img src="{{image}}" alt="water_fall" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">Keyword: {{keyword}}</span>
                <h4>
                    Title: {{title}}
                </h4>
                <div class="user">
                    <img src="https://snworksceo.imgix.net/dtc/3f23c937-0065-4e17-8daa-46449777caed.sized-1000x1000.jpg?w=1000"
                        alt="vote" />
                    <div class="user-info">
                        <h5>Author: {{author.firstName}} {{author.lastName}}</h5>
                        <small>Rating of votes: {{rating}}</small>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <!-- If there are still no own posts for wildlife in the database display: -->
        <!--<div class="no-posts">
                        <div class="no-posts-img">
                            <!/-- Do not forget to change the path to the image, and remove this comment  --/>
                            <img src="./static/img/bear.jpg" alt="image_nature_3">
                        </div>
                        <p class="no-offer">There are no own posts yet...</p>
                    </div>-->
        {{/each}}
    </div>
</section>