{{#with data}}
<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="/static/images/apartments.jpg">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{name}}</h1>
                    <h2>Type: {{type}}</h2>
                    <h4>Year: {{year}}</h4>
                    <h4>City: {{city}}</h4>
                    <p>Description: {{description}}</p>



                    <p>People rented this housing:
                        {{#if rentedList}}
                        {{rentedList}}
                        {{else}}
                        There are no tenants yet.
                        {{/if}}
                    </p>

                </div>
            </div>

            {{#if hasUser}}
            <div class="product-btn">
                {{#if isOwner}}

                <a href="/edit/{{_id}}" class="edit">Edit</a>
                <a href="/delete/{{_id}}" class="remove">Delete</a>

                {{else}}

                {{#if isJoined}}
                <p class="alRentHome">You have already rent this home</p>

                {{else}}

                {{#if piecesLeft}}
                <a href="/join/{{_id}}" class="rentHome">Rent a home, available {{piecesLeft}} housing</a>

                {{else}}
                <p class="no-housing">No Housing Available!</p>
                {{/if}}

                {{/if}}

                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>
{{/with}}