{{#with trip}}
<section class="py-5 details" id="trip-details-page">
    <div class="container">
        <div class="destination">
            <div>
                <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
                <h5> from <span>{{start}}</span> to <span>{{end}}</span> </h5>
            </div>
            <div>
                <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                <h5> <span>{{date}}</span> at <span>{{date}}</span> </h5>
            </div>
        </div>
        <p class="line"></p>
        <div class="buddies-info">
            <i class="fas fa-users buddies"></i>
            <h5>Shared trip Buddies</h5>
            <div>
                <p>
                    {{#if buddiesList}}
                    {{buddiesList}}
                    {{else}}
                    there are no buddies yet...
                    {{/if}}
                </p>
            </div>
            <h5>Driver: <span>{{owner.email}}</span> </h5>
        </div>
        <p class="line"></p>
        <h5 class="brand">Car Brand: <span class="lead">{{carBrand}}</span></h5>
        <div class="trip-info">
            <div>
                <img class="img-fluid rounded" src="{{carImg}}" alt="car-image">
            </div>
            <div class="trip-desc">
                <h5>Information about the trip</h5>
                <textarea class="lead" disabled>{{description}}</textarea>
                <h5>Price: <span class="lead">{{price}}</span> BGN</h5>

                {{#if hasUser}}
                <div class="actions">
                    {{#if isOwner}}

                    <a href="/delete/{{_id}}" class="btn btn-danger">Delete this trip</a>
                    <a href="/edit/{{_id}}" class="btn btn-warning">Edit this trip</a>

                    {{else}}

                    {{#if isJoined}}
                    <span class="btn btn-info">Already joined. Don't be late!</span>

                    {{else}}

                    {{#if remainingSeats}}
                    <a href="/join/{{_id}}" class="btn btn-join">Join now, [ {{remainingSeats}} ] seats left!</a>

                    {{else}}
                    <span class="btn btn-secondary">No seats available! [0]</span>
                    {{/if}}

                    {{/if}}

                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
{{/with}}