{{#with car}}
<h1>{{name}}</h1>
<img class="cube"
    src="/static/assets/{{imageUrl}}">
<div class="details">
    <p><span>Description:</span> {{description}}</p>
    <p><span>Price:</span> {{price}}</p>
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/edit/{{id}}">Edit</a>
    <a class="btn" href="/delete/{{id}}">Delete</a>
</div>
{{/with}}